
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  h1{
    text-align: start;
    color: #1cf509;
    font-size: 24px;
  }
  span{
    color: #d2f509;
    font-size: 18px;
  }
  /* Profile Card Container */
  .color-game {
    background: #1e1e1e; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
  }
  
  #color-box{
   
    height: 100px;
    width: 100px;
    margin: 5px auto;
      border: 2px solid black;
      
  }


  #score, #status{
    text-align: left;
  }
  .btn{
    padding: 15px 5px;
    width: 30%;
    margin: 10px auto;
    content: "";
    border: none;
    border-radius: 16px;
  }

  #reset-btn{
    border: 1px solid #333;
    padding: 10px 5px;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    margin: 5px auto;
    background: rgb(247,249,8);
background: linear-gradient(90deg, rgba(247,249,8,1) 56%,
 rgba(70,245,10,1) 100%, rgba(195,69,252,1) 100%);
    border-radius: 12px;
  }
  /* Current UTC Time */ 
  .profile-card p[data-testid="currentTimeUTC"] {
    margin-top: 20px;
    font-size: 0.9rem;
    font-style: italic;
    color: #a0a0a0;
  }

  .correct {
    animation: glow 0.5s ease-in-out;
}

@keyframes glow {
    0% { box-shadow: 0 0 10px green; }
    50% { box-shadow: 0 0 20px lime; }
    100% { box-shadow: 0 0 10px green; }
}

.wrong {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}
  

  @media (max-width: 500px) {
    .color-game {
      padding: 15px;
      border: 1px solid white;
    }
    .btn{
      padding: 15px 5px;
      width: 30%;
      margin: 10px auto;
      content: "";
      border: none;
      border-radius: 16px;
    }
  
  }
